@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
section{
    padding: 40px;
}
.banner 
{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0.6),rgba(0,0,0,.6)), url(image/coming.jpg);
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.banner h2{
    font-size: 70px;
    line-height: 1.5em;
    color: #fff;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.loader::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4a90e2;
}

.banner p{
    font-size: 19px;
    color:#fff;
    font-weight: 400;
    line-height: 1.5em;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}
header .logo{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}
header ul {
    position: relative;
    display: flex;
    font-size: 25px;
}
header ul li {
    position: relative;
    list-style: none;

}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #2196f3;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
header ul li a:hover::after{
    width: 100%;
}
header.sticky ul li a{
    color: #111;
}


  
@media (max-width: 991px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(image/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url(image/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner {
        padding: 150px 50px 100px;
        background-size: cover;
        position: relative;
        min-width: 5vh;
    }
    .banner h2{
        font-size: 3.8em;
    }
    .banner h3{
        font-size: 1em;
    }
  
}


@media (max-width: 600px){
    header,
    header.sticky{
        padding: 20px 20px;
        z-index: 1000;
    }
    .banner {
        padding: 150px 20px 100px;
    }
    section{
        padding: 100px 20px;
    }
}






